<div class="jumbotron text-center">
    <h1>Deleting Moments</h1>
    <div class="btn-group" role="group">
        <button ng-show="isMode('delete')" type="button" class="btn btn-default delete-button" ng-click="delete()">Delete</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 " ng-repeat="moment in moments">
        <div class="thumbnail storyContainer" ng-class="{'toBeDeleted': isToBeDeleted(moment.albumId)}" ng-click="setToBeDeleted(moment.albumId)">
            <h3 class="text-center">{{moment.albumName}}</h3>
            <p class="text-center">{{moment.albumDesc}}</p>
            <img style="width:100%;" src="{{moment.images[0].imageLocation}}" alt="...">
        </div>
    </div>
</div>