<div class="jumbotron text-center">
    <h1>Editing Moments</h1>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 " ng-repeat="moment in moments" data-toggle="modal" data-target="#myModal{{moment.albumId}}">
        <div class="thumbnail storyContainer">
            <h3 class="text-center">{{moment.albumName}}</h3>
            <p class="text-center">{{moment.albumDesc}}</p>
            <img style="width:100%;" src="{{moment.images[0].imageLocation}}" alt="...">
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-6 " ng-repeat="moment in moments">
    <div class="modal fade" id="myModal{{moment.albumId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Editing Moment</h4>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <label for="albumName">Moment Name</label>
                            <input ng-model="moment.albumName" type="text" class="form-control" id="albumName" placeholder="UBC Ecology Museum" required>
                        </div>
                        <div class="form-group">
                            <label for="albumDesc">Moment Description</label>
                            <input ng-model="moment.albumDesc" type="text" class="form-control" id="albumDesc" placeholder="University of British Columbia Ecology Museum Day" required>
                        </div>
                        <div class="form-group">
                            <label for="location">Moment Location</label>
                            <input ng-model="moment.albumLocation" type="text" class="form-control" id="location" placeholder="UBC Vancouver, BC" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateMomentInformation(moment)">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>