<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Imageshare</a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li  ng-hide="loggedOut"><a href="#you"> You</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="loggedIn"><a href="#login"> Login</a></li>
                <li ng-hide="loggedIn"><a href="#register"> Register</a></li>
                <li ng-hide="loggedOut"><a href="#logout"> Logout</a></li>
            </ul>
        </div>
    </nav>
</header>