<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Imageshare</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li ng-hide="loggedIn"><a href="#login"><i class="fa fa-sign-in"></i> Login</a></li>
                <li ng-hide="loggedIn"><a href="#register"><i class="fa fa-magic"></i> Register</a></li>
                <li ng-hide="loggedOut"><a href="#logout"><i class="fa fa-sign-out" ></i> Logout</a></li>
            </ul>
        </div>
    </nav>
</header>