body{
    background-color: #15171E;
}

.jumbotron, .storyContainer{
    background-color: #222222;
    color: #999;
}

.storyContainer{
    color:#999;
    background-color: #222222;
}

.selected {
    background-color: grey !important;
    color: white !important;
    border: 1px solid grey !important;
}